<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>HRC Sevicio de Investigacion</TITLE>
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/head/head.css" />
    <link rel="stylesheet" type="text/css" href="../../css/about/about.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</HEAD>

<BODY>

    <div class="head">
        <nav class="navbar navbar-expand-lg navbar-light navBar">
            <a class="navbar-brand" href="#">HRC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item  navItem">
                        <a class="nav-link link-navBar" href="./../index/indexPage.html">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active navItem">
                        <a class="nav-link link-navBar" href="./about.html">Quienes Somos?</a>
                    </li>
                    <li class="nav-item  navItem">
                        <a class="nav-link link-navBar" href="#">Servicios</a>
                    </li>
                    <li class="nav-item  navItem">
                        <a class="nav-link link-navBar" href="./../contact/contact.html">Contactanos</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar en el sitio..." aria-label="Search">
                    <button class="btn btn-outline-success btn-navBar-buscar" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </div>
    <!-- 7777777777777777777777777777 -->
    <div class="body">
        <div class = "box-text">
            <h3>Acerca de nosotros</h3>
            <p >Somos una Empresa especializada en Investigaciones Privadas, que ofrece 100% de profesionalismo, tecnología
                y confidencialidad. Sus miembros poseen 30 años de experiencia en la investigación policial en Chile,
                expertiz con la cual trabajamos para dar solución a su problemática personal o comercial: los cuales
                se encuentran debidamente acreditados ante la Autoridad Fiscalizadora OS10 de Carabineros de Chile
                y Capitania de Puerto de Valparaíso de la Armada de Chile.</p>
            </div>
            <div class="box-text">
            <h3>Nuestra Misión</h3>
            <p class="paragraph">..</p>
        </div>
        <div class="box-text">
            <h3 >Nuestra Visión</h3>
            <p >..</p>
        </div>
        </div>


    </div>
    <!-- s -->

</BODY>

</HTML>