<!DOCTYPE html>
<HTML>

<HEAD>
        <meta charset="UTF-8">
        <meta name="description" content="servicios de investigacion privada y equipamiento de seguridad">
        <meta name="keywords" content="investigacion,investigacion privada,equipamiento de seguridad, servicio de investigacion">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <TITLE>HRC Sevicio de Investigacion</TITLE>
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="../../css/head/head.css" />
    <link rel="stylesheet" type="text/css" href="../../css/about/about.css" />
    <link rel="stylesheet" type="text/css" href="../../css/normalize/normalize.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</HEAD>

<BODY>
        <header class="head">
                <div class="logo"><img src="../../img/logo.jpg" width="180" height="180" class="d-inline-block align-top" id="logoimg"alt=""></div>
                <nav class="navbar navbar-dark bg-primary">
                    <img src="../../img/mail.png" width="30" height="30" class="d-inline-block align-top" alt="" >
                    <p  id="img-nav">info@seguridadprivadaintegral.cl</p>
                     <ul class="nav justify-content-end nav">
                        <li class="nav-item">
                          <a class="nav-link active a" href="../index/indexPage.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link a" href="./about.html">Quienes Somos</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle a" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="./../services/equipament.html"id="dropdown">Equipo de Seguridad</a>
                              <a class="dropdown-item" href="./../services/services.html"id="dropdown">Investigacion Privada</a>
                            </div>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link a" href="./../contact/contact.html">Contacto</a>
                        </li>
                      </ul>
                  </nav>
            </header>
    <!-- 7777777777777777777777777777 -->
    <section>
    <div class="body">
        <div class = "box-text">
            <h1>Acerca de nosotros</h1>
            <p >Somos una Empresa especializada en Investigaciones Privadas, que ofrece 100% de profesionalismo, tecnología
                y confidencialidad. Sus miembros poseen 30 años de experiencia en la investigación policial en Chile,
                expertiz con la cual trabajamos para dar solución a su problemática personal o comercial.
                 <!-- los cuales
                se encuentran debidamente acreditados ante la Autoridad Fiscalizadora OS10 de Carabineros de Chile
                y Capitania de Puerto de Valparaíso de la Armada de Chile.</p> -->
            </div>
            <img src="../../img/about-us.jpg" alt="" id="img">
        </div>
    </div>
</section>
<footer>..
    <div class=" text-center">
        <a> ©</a>
      </div>
</footer>
</BODY>

</HTML>