.navBar{
    background-color: #b82424!important;
    height: 20% !important;
}
.btn-navBar-buscar{
    color: #f0f0f0 !important;
    border-color: #f0f0f0 !important;
}
.btn-navBar-buscar:hover{
    background-color: #994e4e!important;
}
.link-navBar{
    color: #f3f3f3 !important;
}
.navItem:hover{
    background-color: #994e4e;
    border-radius: 10%;
}
