
.a{
    color: white !important;
}
.nav li:hover{
    background-color: rgb(53, 97, 240);
    border-radius: 15px;
}

.logo{
    text-align: center;
    margin: 10px;
    background-color: #ffffff!important;
}
header{
    background-color: #ffffff!important;
}
html{
    background-color: #ffffff!important;
}
#img-nav {
    margin-left: 6px !important;
    margin: auto;
    color: white;
    font-size: 20px;
}