
body, html {
    height:100%;
  }
  #wrapper {
    min-height:100%;
    position:relative;
  }
  #header-zone {
    padding:10px;
    height: 50px;
    background:red;
  }
  #middle-zone {
    padding-bottom:100px;
  }
  #footer-zone {
    height: 100px;
    background:rgb(29, 26, 26);
    width:100%;
    position:absolute;
  }
  .cont-navBar{
    background:rgb(255, 255, 255);
  }
