
.myfooter {
    padding: 10px  10px ;
    background-color: #ffffff;
    color: #007bff;
}
.text-center{
	display: block !important;
}
.logo2{
    margin: 10px;
}
#img-nav {
    margin-left: 6px !important;
    margin: auto;
    font-size: 20px;
    display: inline-block;
}