.div-information-contact-us{
    width: 50%;
    padding: 6px;
    background: #ebf8ff;
    display: block;
    margin: 7px 3em;
    border: black;
    border-radius: 22px;
}
.contact{
    width: 40%;
    height: 600px;
    color: rgb(2, 2, 2);
    opacity: .78;
    border-radius: 15px
}
.content-contact{
     background-image: url("../../img/fondo-contact.jpg");
     width: 100%;
     position: sticky;
     background-size: cover;
     background-repeat: no-repeat;
}

