<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>HRC Sevicio de Investigacion</TITLE>
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/head/head.css" />
    <link rel="stylesheet" type="text/css" href="../../css/service/service.css" />
    <link rel="stylesheet" type="text/css" href="../../css/normalize/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</HEAD>

<BODY>
    <header class="head">
        <div class="logo"><img src="../../img/logo.jpg" width="180" height="180" class="d-inline-block align-top" alt=""></div>
        <nav class="navbar navbar-dark bg-primary">
          <img src="../../img/mail.png" width="30" height="30" class="d-inline-block align-top" alt="" >
          <p  id="img-nav">info@seguridadprivadaintegral.cl</p>
             <ul class="nav justify-content-end nav">
                <li class="nav-item">
                  <a class="nav-link active a" href="../index/indexPage.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a" href="./../about/about.html">Quienes Somos?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="./equipament.html">Equipo de Seguridad</a>
                      <a class="dropdown-item" href="./services.html">Investigacion Privada</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link a" href="./../contact/contact.html">Contacto</a>
                </li>
              </ul>
          </nav>
    </header>
    <!-- 7777777777777777777777777777 -->
    <div class="body">
    <div class="equipament">
        <img src="../../img/equipo.png" alt="...">
        <div class="carousel-caption d-none d-md-block" id="cont-text">
          <h1>Equipamiento de Seguridad</h1>
          <p>...</p>
        </div>
      <div class="card-deck">
        <div class="card" id="card2">
          <img class="card-img-top" id="card-img" src="../../img/DOMOTICA.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Alarmas</h3>

          </div>

        </div>
        <div class="card" id="card2">
          <img class="card-img-top" id="card-img"src="../../img/CAMARA.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Camaras de Seguridad</h3>

          </div>

        </div>
        <div class="card" id="card2">
          <img class="card-img-top" id="card-img" src="../../img/EPP.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Equipamiento de Proteccion Personal</h4>
          </div>

        </div>
      </div>
    </div>
    </div>
    <!-- s -->

</BODY>

</HTML>