<!DOCTYPE html>
<HTML>

<HEAD>
  <meta charset="UTF-8">
    <TITLE>HRC Sevicio de Investigacion</TITLE>
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/head/head.css" />
    <link rel="stylesheet" type="text/css" href="../../css/service/service.css" />
    <link rel="stylesheet" type="text/css" href="../../css/normalize/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</HEAD>

<BODY>
    <header class="head">
        <div class="logo"><img src="../../img/logo.jpg" width="180" height="180" class="d-inline-block align-top" alt=""></div>
        <nav class="navbar navbar-dark bg-primary">
          <img src="../../img/mail.png" width="30" height="30" class="d-inline-block align-top" alt="" >
          <p  id="img-nav">info@seguridadprivadaintegral.cl</p>
             <ul class="nav justify-content-end nav">
                <li class="nav-item">
                  <a class="nav-link active a" href="../index/indexPage.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a" href="./../about/about.html">Quienes Somos?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="./equipament.html">Equipo de Seguridad</a>
                      <a class="dropdown-item" href="./services.html">Investigacion Privada</a>
                    </div>
                  </li>
                <li class="nav-item">
                  <a class="nav-link a" href="./../contact/contact.html">Contacto</a>
                </li>
              </ul>
          </nav>
    </header>
    <!-- 7777777777777777777777777777 -->
    <div class="body">
        <div class="services">
            <h1>Servicios de Investigacion
            </h1>
          <div class="content">
            <div class="service-investigation">
              <ul>
                <li id="text1">Investigacion Personal y familiar</li>
                <li>Investigacion comercial o empresarial</li>
                <li>Control de perdidas</li>
                <li>Ubicacion de personas y Bienes</li>
              </ul>
            </div>
              <div id="carouselExampleControls2" class="carousel slide carousel2" data-ride="carousel">
                <div class="carousel-inner" id="carousel">
                  <div class="carousel-item active">
                    <img class="d-block w-100 img-carousel" src="./../../img/modal-service.jpg" alt="First slide" id="img1">
                    <div class="carousel-caption d-none d-md-block text-carousel2">
                      <h5>Investigaciones Personales y Familiares</h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 img-carousel" src="./../../img/modal-service2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block text-carousel2">
                      <h5>Investigaciones Comerciales o Empresariales</h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 img-carousel" src="./../../img/modal-service3.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block text-carousel2">
                      <h5>Control de Perdida</h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100 img-carousel" src="./../../img/modal-service4.jpg" alt="Fourd slide">
                    <div class="carousel-caption d-none d-md-block text-carousel2">
                      <h5>Ubicacion de Personas o Bienes</h5>
                    </div>
                  </div>
                  <div class="carousel-item">
                      <img class="d-block w-100 img-carousel" src="./../../img/escolta.jpg" alt="Fourd slide">
                      <div class="carousel-caption d-none d-md-block text-carousel2">
                        <h5>Escolta de Personas y Vehiculos</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-carousel" src="./../../img/proteccion.jpg" alt="Fourd slide">
                        <div class="carousel-caption d-none d-md-block text-carousel2">
                          <h5>Proteccion de Personas Importantes</h5>
                        </div>
                      </div>
                      <div class="carousel-item">
                          <img class="d-block w-100 img-carousel" src="./../../img/estudio-seguridad.jpg" alt="Fourd slide">
                          <div class="carousel-caption d-none d-md-block text-carousel2">
                            <h5>Estudios de Seguridad</h5>
                          </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 img-carousel" src="./../../img/huella.png" alt="Fourd slide">
                            <div class="carousel-caption d-none d-md-block text-carousel2">
                              <h5>Acsesoria Criminalisticas</h5>
                            </div>
                          </div>
                  </div>
                <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
              <div class="service">
                    <ul>
                    <li>Escoltas de personas y vehiculos</li>
                   <li>Protección de personas importantes</li>
                   <li>Estudios de seguridad</li>
                   <li>Acsesorías Criminalisticas</li>
                   </ul>
              </div>
            </div>
          </div>
    </div>
    <!-- s -->

</BODY>

</HTML>