<!DOCTYPE html>
<HTML>

<HEAD>
    <TITLE>HRC Sevicio de Investigacion</TITLE>
    <meta charset="UTF-8">
    <meta name="description" content="servicios de investigacion privada y equipamiento de seguridad">
    <meta name="keywords" content="investigacion,investigacion privada,equipamiento de seguridad, servicio de investigacion">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <!-- Link css -->
    <link rel="stylesheet" type="text/css" href="../../css/footer/footer.css" />
    <link rel="stylesheet" type="text/css" href="../../css/head/head.css" />
    <link rel="stylesheet" type="text/css" href="../../css/contact/contact.css" />
    <link rel="stylesheet" type="text/css" href="../../css/normalize/normalize.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <!-- Link js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</HEAD>

<BODY>
    <header class="head">
        <div class="logo">
            <img src="../../img/logo.jpg" width="180" height="180" class="d-inline-block align-top" id="logoimg" alt="">
        </div>
        <nav class="navbar navbar-dark bg-primary">
            <img src="../../img/mail.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <p id="img-nav">info@seguridadprivadaintegral.cl</p>
            <ul class="nav justify-content-end nav">
                <li class="nav-item">
                    <a class="nav-link active a" href="../index/indexPage.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="./../about/about.html">Quienes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="./../services/equipament.html" id="dropdown">Equipo de Seguridad</a>
                        <a class="dropdown-item" href="./../services/services.html" id="dropdown">Investigacion Privada</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link a" href="./contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="content-contact">
        <div class="contact">
            <div class="div-information-contact-us">
                <h1 class="test">Contáctenos</h1>
                <p class="paragraphContact">Le responderemos a la brevedad</p>
            </div>
            <form class="form-contact" method="post" action="../../php/process.php">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="name" class="form-control" id="inputNombre" name="name" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" name="mail" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="5" placeholder="Mensaje" required></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10 sendBtn">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
        </div>
    </section>
</BODY>

</HTML>