section{
    background-color: #d9e60f !important;
    width: 100%;
    height: 100%;
}
footer{
    background-color: #d9e60f !important;
}
.service-investigation{
    float: left;
    display: inline-block !important;
    margin-left: 2em;
}
.service-investigation ul{
    list-style-type: square ;
}
.service-investigation ul li{
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
.service ul{
  list-style-type: square ;
}
.service ul li{
    font-size: 1.3em;
    margin-bottom: 2em;
}
.carousel2{
    width: 30% !important;
    height: 400px !important;
    display: inline-block;
    float: left;
    margin: 4px 6.5em;
}
.img-carousel{
    width: 100%;
    height: 400px;
}
section h1{
    text-align: center;
    margin:  1.5em auto;
}
section{
    display: inline-block;
    float: left;
    margin-right: 1em;
}
.text-carousel2{
    background: rgb(65, 163, 163);
    opacity: .7;
    color: white;
    border-radius: 15px;
}









.equipament{
    width: 100%;
    margin: auto;
    text-align: center;
}
.equipament img{
    width: 100%;
    height: 500px;
    margin: auto;
}
#cont-card{
    width: 90%;
    margin: auto;
    padding: 0;
}
#cont-text h1{
    background-color:#3b3d41;
    opacity: .7;
    border-radius: 15px;
    display: inline-block;
    padding: 1em;
    font-family:"Lucida Sans Typewriter";
    color: rgb(255, 254, 254);
}
#card{
    margin-top: 2em;
}
#card-img{
    padding: auto;
    width: 83%;
}
#card2{
    margin-top: 2em;
    height: 100%;
}
