<!DOCTYPE html>
<HTML>

<HEAD>
  <TITLE>HRC Sevicio de Investigacion</TITLE>
  <!-- Link css -->
  <link rel="stylesheet" type="text/css" href="../../css/footer/footer.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <!-- Link js -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
    crossorigin="anonymous"></script>
</HEAD>

<BODY>
  <footer class="myfooter">
    <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h4 class="title-widget">Menú</h4>
              <span class="acount-icon">
                <a href="#">
                  <i class="fa fa-heart" aria-hidden="true"></i> Inicio</a>
                <a href="#">
                  <i class="fa fa-cart-plus" aria-hidden="true"></i> Quienes somos?</a>
                <a href="#">
                  <i class="fa fa-user" aria-hidden="true"></i> Servicios</a>
                <a href="#">
                  <i class="fa fa-globe" aria-hidden="true"></i> Contactanos</a>
              </span>
            </div>
        <div class="col-sm-3">
          <h4 class="title-widget"> Investigacion privada</h4>
          <span class="acount-icon">
              <li class="fa fa-heart footerUl" aria-hidden="true"> personal y familiar</li>
              <li class="fa fa-cart-plus footerUl" aria-hidden="true"> comercial o empresarial</li>
              <li class="fa fa-user footerUl" aria-hidden="true">control de perdidas</li>
              <li class="fa fa-globe footerUl" aria-hidden="true"> ubicación de personas y bienes</li>
              <li class="fa fa-globe footerUl" aria-hidden="true"> escoltas de personas y vehículos</li>
              <li class="fa fa-globe footerUl" aria-hidden="true"> protección de personas importantes</li>
              <li class="fa fa-globe footerUl" aria-hidden="true"> estudios de seguridad</li>
              <li class="fa fa-globe footerUl" aria-hidden="true"> acsesorías criminalisticas</li>

            </span>
        </div>

        <div class="col-sm-3">
          <h4 class="title-widget">Equipamento</h4>
          <span class="acount-icon">
              <li class="fa fa-heart footerUl" aria-hidden="true"> Camaras</li>
              <li class="fa fa-cart-plus footerUl" aria-hidden="true">Camaras de seguridad</li>
              <li class="fa fa-user footerUl" aria-hidden="true">Elementos de proteccion personal</li>
            </span>
        </div>
        <div class="col-sm-3">
          <h4 class="title">Acerca de Nosotros</h4>
          <p>Somos una Empresa especializada en Investigaciones Privadas, que ofrece 100% de profesionalismo, tecnología y confidencialidad.</p>
        </div>
      </div>
      <hr>
      <div class="row text-center">
        <a> © 2018. HRC Investigaciones privadas | Todo los derechos reservados</a>
      </div>
    </div>
  </footer>
</BODY>

</HTML>