section{
    background-color: #d9e60f !important;
}

.box-text{
    text-align: justify;
    width: 44%;
    margin: 25px 1%;
    padding: 10px 20px;
    color: #093e77;
    border-radius: 15px;
    float: left;
}
.box-text p{
  font-size: 23px;
}

.box-text h1{
    margin: 15px 0px;
}

#img{
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-left: 80px;
    margin-top: 120px;
    margin-bottom: 20px;
}
